In [85]:
import pandas as pd

filePath=r'C:\Users\max\Documents\projects\futurfin\file sources'

fileName=r'\fineco.20191206.1813.xls'
fileNameAnonym=r'\fineco.20191206.1813.Anonym.csv'

FileFullName = filePath  + fileName
FileFullNameAnonym = filePath  + fileNameAnonym

print(FileFullName)
df = pd.read_excel (FileFullName,skiprows=7) 

df

C:\Users\max\Documents\projects\futurfin\file sources\fineco.20191206.1813.xls

,Data Operazione,Data Valuta,Entrate,Uscite,Descrizione,Descrizione Completa
0,2019-12-06,2019-12-06,9090.51,NaN,Bonifico Istantaneo,Ordinante: Massimiliano Gaibisso Beneficiario:...
1,2019-12-05,2019-12-05,NaN,1150.00,Bonifico SEPA Estero,Ben: CHICCA PAOLA Ins: 05/12/2019 00:01:01 Da:...
2,2019-12-05,2019-12-03,NaN,3.00,Pagamento Visa Debit,ATAC TAP&GO ROMA IT Carta ...
3,2019-12-04,2019-11-30,NaN,2.00,Pagamento Visa Debit,TIGER ITALY 2 ROMA IT Carta ...
4,2019-12-02,2019-12-02,NaN,15.48,Telepass,Da TELEPASS S.P.A. Per 00...
5,2019-12-02,2019-11-30,NaN,509.84,Pagamento Visa Debit,CONBIPEL 1 ROMA IT Carta ...
6,2019-12-01,2019-11-30,NaN,19.00,PagoBancomat POS,Pag. del 30/11/19 ora 19:09 presso: LA FELTRIN...
7,2019-11-20,2019-11-21,NaN,14.76,Ritenuta dividendo non residen,"Rit.div.su 674,000 TERNA"
8,2019-11-20,2019-11-21,56.75,NaN,Dividendo Italia,"Div.su 674,000 TERNA"
9,2019-11-14,2019-11-14,NaN,122.00,Bonifico SEPA Estero,Ben: CHICCA PAOLA Ins: 14/11/2019 18:47:08 Da:...
10,2019-11-12,2019-11-12,780.00,NaN,Bonifico SEPA Italia,Ord: MANSOUR ABDELKHALEK MOHAMED ABDELKHALE Be...
11,2019-11-07,2019-11-07,NaN,10.00,Ricarica telefonica,Ricarica telefonica: 3409594201 Data: 07/11/19...
12,2019-11-05,2019-11-05,NaN,1150.00,Bonifico SEPA Estero,Ben: CHICCA PAOLA Ins: 05/11/2019 00:01:00 Da:...
13,2019-11-04,2019-11-04,2716.02,NaN,Bonifico Istantaneo,Ordinante: Massimiliano Gaibisso Beneficiario:...
14,2019-11-04,2019-10-30,NaN,67.00,Delega I24,Delega I24
15,2019-11-04,2019-10-30,NaN,184.00,Delega I24,Delega I24
16,2019-10-28,2019-10-25,NaN,38.00,Pagamento Visa Debit,TRATTORIA I TULLI PANI TUSCANIA IT Carta ...
17,2019-10-26,2019-10-25,NaN,21.30,PagoBancomat POS,Pag. del 25/10/19 ora 10:35 presso: ITALIANA P...
18,2019-10-25,2019-10-24,NaN,283.00,PagoBancomat POS,Pag. del 24/10/19 ora 22:53 presso: GLASS HOST...
19,2019-10-25,2019-10-23,NaN,430.00,Pagamento Visa Debit,GIOIELLERIA ROMA IT Carta ...
20,2019-10-25,2019-10-23,NaN,58.82,Pagamento Visa Debit,SUPERMERCATO SA.TO. S. ROMA IT Carta ...
21,2019-10-24,2019-10-24,NaN,5.40,Cambio valuta,Chiusura saldo dare c/c CHF
22,2019-10-23,2019-10-19,NaN,60.50,Pagamento Visa Debit,RISTORANTE SEMIRAMIDE MONTECCHIO IT Carta ...
23,2019-10-23,2019-10-19,NaN,23.53,Pagamento Visa Debit,TOTAL FINA GIOVANNINI NARNI IT Carta ...
24,2019-10-22,2019-10-21,NaN,30.50,PagoBancomat POS,Pag. del 21/10/19 ora 21:20 presso: BIR& FUD ...
25,2019-10-21,2019-10-21,NaN,57.71,SEPA Direct Debit,ENI S.P.A. Addebito SDD fattura a Vs carico ...
26,2019-10-18,2019-10-17,NaN,24.27,PagoBancomat POS,Pag. del 17/10/19 ora 21:25 presso: PV5396 A...
27,2019-10-16,2019-10-16,NaN,10.00,Ricarica telefonica,Ricarica telefonica: 3409594201 Data: 16/10/19...
28,2019-10-14,2019-10-14,NaN,20.00,Ricarica telefonica,Ricarica telefonica: 3487814082 Data: 14/10/19...
29,2019-10-14,2019-10-14,NaN,20.00,Ricarica telefonica,Ricarica telefonica: 3487814082 Data: 14/10/19...
...,...,...,...,...,...,...
308,2018-08-20,2018-08-20,NaN,50.22,SEPA Direct Debit,ENI S.P.A. Addebito SDD fattura a Vs carico ...
309,2018-08-09,2018-08-09,799.95,NaN,Giroconto,Giroconto
310,2018-08-03,2018-08-03,NaN,1150.00,Bonifico SEPA Estero,Ben: CHICCA PAOLA Ins: 03/08/2018 00:01:00 Da:...
311,2018-08-02,2018-08-02,200.00,NaN,Giroconto,Giroconto dal cc n. 0004847 / 01 DA 484...
312,2018-07-23,2018-07-21,NaN,16.20,Pagamento Visa Debit,SUPERMERCATO SA.TO. S. ROMA IT Carta ...
313,2018-07-23,2018-07-21,NaN,170.00,Prelievo Bancomat,Prelevamento carta N° ***** 394 Data o...
314,2018-07-23,2018-07-20,NaN,10.00,Pagamento Visa Debit,PAYPAL *VODAFONEITA 35314369001 IT Carta ...
315,2018-07-23,2018-07-19,NaN,51.00,Pagamento Visa Debit,OSTERIA DEGLI AMICI ROMA IT Carta ...
316,2018-07-22,2018-07-21,NaN,11.00,PagoBancomat POS,Pag. del 21/07/18 ora 18:35 presso: BIGLIETTER...
317,2018-07-21,2018-07-20,NaN,64.00,PagoBancomat POS,Pag. del 20/07/18 ora 22:09 presso: DAR SOR OL...
318,2018-07-10,2018-07-08,NaN,142.53,Pagamento Visa Debit,GOLDENPOINT FIUMICINO IT Carta ...
319,2018-07-10,2018-07-08,NaN,47.18,Pagamento Visa Debit,GOLDENPOINT FIUMICINO IT Carta ...
320,2018-07-10,2018-07-07,NaN,18.00,Pagamento Visa Debit,ITALPETR BR037 OSTUNI IT Carta ...
321,2018-07-09,2018-07-08,NaN,54.88,PagoBancomat POS,Pag. del 08/07/18 ora 18:24 presso: AGIP DISTR...
322,2018-07-09,2018-07-05,NaN,42.96,Pagamento Visa Debit,FAMILA OSTUNI IT Carta ...
323,2018-07-09,2018-07-04,NaN,160.00,Pagamento Visa Debit,RISTORANTE IL PUNTO FASANO IT Carta ...
324,2018-07-08,2018-07-08,NaN,1000.00,Giroconto,Giroconto sul cc n. 0004847 / 01 PER EMMA
325,2018-07-05,2018-07-03,NaN,105.00,Pagamento Visa Debit,ESSENZA RISTORANTE SAN MICHELE S IT Carta ...
326,2018-07-05,2018-07-02,NaN,41.10,Pagamento Visa Debit,L ORTO DEL PIACERE SAN VITO DEI IT Carta ...
327,2018-07-05,2018-07-02,NaN,60.00,Pagamento Visa Debit,Q8 D'ADAMO SAN VITO DEI IT Carta ...
328,2018-07-05,2018-07-02,NaN,7.39,Pagamento Visa Debit,BELLANOVA GIUSEPPE SUP SAN VITO DEI IT Carta ...
329,2018-07-05,2018-07-01,NaN,51.00,Pagamento Visa Debit,CHECHELE CAROVIGNO IT Carta ...
330,2018-07-05,2018-06-30,NaN,2.10,Imposta bollo dossier titoli,Addebito imposta di bollo Dossie...
331,2018-07-04,2018-07-02,NaN,16.10,Pagamento Visa Debit,FARMACIA DE VITO SNC SAN VITO DEI IT Carta ...
332,2018-07-03,2018-07-02,NaN,25.89,PagoBancomat POS,Pag. del 02/07/18 ora 18:20 presso: SIMPLY MAR...
333,2018-07-02,2018-07-01,NaN,200.00,Prelievo Bancomat,Prelevamento carta N° ***** 394 Data o...
334,2018-07-02,2018-06-30,NaN,151.78,Pagamento Visa Debit,SUPERMERCATO DOK SAN VITO DEI IT Carta ...
335,2018-07-02,2018-06-30,NaN,66.00,Pagamento Visa Debit,RISTORANTE VALLEVERDE ATRIPALDA IT Carta ...
336,2018-06-30,2018-06-30,600.00,NaN,Giroconto,Giroconto dal cc n. 0004847 / 01 GIROCONTO
337,2018-06-30,2018-06-30,3000.00,NaN,Giroconto,Giroconto dal cc n. 0004847 / 01 GIROCONTO

In [80]:
def obfuscate(byt):
    # Use same function in both directions.  Input and output are bytes
    # objects.
    mask = b'trap'
    lmask = len(mask)
    return bytes(c ^ mask[i % lmask] for i, c in enumerate(byt))

def test(s):
    data = obfuscate(s.encode())
    print(len(s), len(data), data)
    newdata = obfuscate(data).decode()
    print(newdata)
    
s = 'maxy'
data = obfuscate(s.encode())

print (data)

test(s)

b'\x19\x13\x19\t'
4 4 b'\x19\x13\x19\t'
maxy

In [86]:
df['Descrizione']=df['Descrizione'].apply(lambda x: obfuscate(x.encode()))

df['Descrizione Completa']=df['Descrizione Completa'].apply(lambda x: obfuscate(x.encode()))

df

,Data Operazione,Data Valuta,Entrate,Uscite,Descrizione,Descrizione Completa
0,2019-12-06,2019-12-06,9090.51,NaN,b'6\x1d\x0f\x19\x12\x1b\x02\x1fT;\x12\x04\x15\...,b';\x00\x05\x19\x1a\x13\x0f\x04\x11HA=\x15\x01...
1,2019-12-05,2019-12-05,NaN,1150.00,b'6\x1d\x0f\x19\x12\x1b\x02\x1fT!$ 5R$\x03\x00...,b'6\x17\x0fJT1)971 P$3.<5R(\x1e\x07HA@A]PB[@QA...
2,2019-12-05,2019-12-03,NaN,3.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'5& 3T& R5.PTRAPTRAPTRA"";? PTRAPTRAPT;5P7\x1..."
3,2019-12-04,2019-11-30,NaN,2.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b' ;&5&R($5>8PFRAPTRAPTRA"";? PTRAPTRAPT;5P7\x1..."
4,2019-12-02,2019-12-02,NaN,15.48,b' \x17\r\x15\x04\x13\x12\x03',"b""0\x13A$1>$ 5!2P'\\1^5\\APTRAPTRAPTRAPTRAPTRA..."
5,2019-12-02,2019-11-30,NaN,509.84,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'7=/2=""$<TRPPTRAPTRAPTRA"";? PTRAPTRAPT;5P7\x1..."
6,2019-12-01,2019-11-30,NaN,19.00,"b'$\x13\x06\x1f6\x13\x0f\x13\x1b\x1f\x00\x04T"".#'",b'$\x13\x06^T\x16\x04\x1cTAQ_ECNAMR\x0e\x02\x1...
7,2019-11-20,2019-11-21,NaN,14.76,b'&\x1b\x15\x15\x1a\x07\x15\x11T\x16\x08\x06\x...,b'&\x1b\x15^\x10\x1b\x17^\x07\x07AFCFM@DBA$1 /1'
8,2019-11-20,2019-11-21,56.75,NaN,b'0\x1b\x17\x19\x10\x17\x0f\x14\x1bR(\x04\x15\...,b'0\x1b\x17^\x07\x07AFCFM@DBA$1 /1'
9,2019-11-14,2019-11-14,NaN,122.00,b'6\x1d\x0f\x19\x12\x1b\x02\x1fT!$ 5R$\x03\x00...,b'6\x17\x0fJT1)971 P$3.<5R(\x1e\x07HAA@]PA[@QA...
10,2019-11-12,2019-11-12,780.00,NaN,b'6\x1d\x0f\x19\x12\x1b\x02\x1fT!$ 5R(\x04\x15...,"b';\x00\x05JT? >\'=4""T3#41>*85>$;T?.85?$4T3#41..."
11,2019-11-07,2019-11-07,NaN,10.00,b'&\x1b\x02\x11\x06\x1b\x02\x11T\x06\x04\x1c\x...,b'&\x1b\x02\x11\x06\x1b\x02\x11T\x06\x04\x1c\x...
12,2019-11-05,2019-11-05,NaN,1150.00,b'6\x1d\x0f\x19\x12\x1b\x02\x1fT!$ 5R$\x03\x00...,b'6\x17\x0fJT1)971 P$3.<5R(\x1e\x07HA@A]PA[@QA...
13,2019-11-04,2019-11-04,2716.02,NaN,b'6\x1d\x0f\x19\x12\x1b\x02\x1fT;\x12\x04\x15\...,b';\x00\x05\x19\x1a\x13\x0f\x04\x11HA=\x15\x01...
14,2019-11-04,2019-10-30,NaN,67.00,b'0\x17\r\x15\x13\x13A9FF',b'0\x17\r\x15\x13\x13A9FF'
15,2019-11-04,2019-10-30,NaN,184.00,b'0\x17\r\x15\x13\x13A9FF',b'0\x17\r\x15\x13\x13A9FF'
16,2019-10-28,2019-10-25,NaN,38.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b' $ =395R(P \'-<=R11:;A$!!""1:; PTRAPT;5P7\x..."
17,2019-10-26,2019-10-25,NaN,21.30,"b'$\x13\x06\x1f6\x13\x0f\x13\x1b\x1f\x00\x04T"".#'",b'$\x13\x06^T\x16\x04\x1cT@T_EBNAMR\x0e\x02\x1...
18,2019-10-25,2019-10-24,NaN,283.00,"b'$\x13\x06\x1f6\x13\x0f\x13\x1b\x1f\x00\x04T"".#'",b'$\x13\x06^T\x16\x04\x1cT@U_EBNAMR\x0e\x02\x1...
19,2019-10-25,2019-10-23,NaN,430.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'3;.91>-5&; PTRAPTRAPTRA"";? PTRAPTRAPT;5P7\x1..."
20,2019-10-25,2019-10-23,NaN,58.82,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'\'\'15&?$""735?T! ^ =OP\'\\A"";? PTRAPTRAPT;5P..."
21,2019-10-24,2019-10-24,NaN,5.40,b'7\x13\x0c\x12\x1d\x1dA\x06\x15\x1e\x14\x04\x15',"b""7\x1a\x08\x05\x07\x07\x13\x11T\x01\x00\x1c\x..."
22,2019-10-23,2019-10-19,NaN,60.50,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'&;2$; > 7A#1?(""5?(41RA=;<5571)9;RAPT;5P7\x1..."
23,2019-10-23,2019-10-19,NaN,23.53,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b"" =518R'9:3A7==71:<(>=RA>5 /9TRAPTRAPT;5P7\x1..."
24,2019-10-22,2019-10-21,NaN,30.50,"b'$\x13\x06\x1f6\x13\x0f\x13\x1b\x1f\x00\x04T"".#'",b'$\x13\x06^T\x16\x04\x1cT@P_EBNAMR\x0e\x02\x1...
25,2019-10-21,2019-10-21,NaN,57.71,"b""'711T6\x08\x02\x11\x11\x15P0\x17\x03\x19\x00""","b""1<(P'\\1^5\\A1\x10\x16\x04\x12\x1d\x06\x0eP'..."
26,2019-10-18,2019-10-17,NaN,24.27,"b'$\x13\x06\x1f6\x13\x0f\x13\x1b\x1f\x00\x04T"".#'",b'$\x13\x06^T\x16\x04\x1cTCV_EBNAMR\x0e\x02\x1...
27,2019-10-16,2019-10-16,NaN,10.00,b'&\x1b\x02\x11\x06\x1b\x02\x11T\x06\x04\x1c\x...,b'&\x1b\x02\x11\x06\x1b\x02\x11T\x06\x04\x1c\x...
28,2019-10-14,2019-10-14,NaN,20.00,b'&\x1b\x02\x11\x06\x1b\x02\x11T\x06\x04\x1c\x...,b'&\x1b\x02\x11\x06\x1b\x02\x11T\x06\x04\x1c\x...
29,2019-10-14,2019-10-14,NaN,20.00,b'&\x1b\x02\x11\x06\x1b\x02\x11T\x06\x04\x1c\x...,b'&\x1b\x02\x11\x06\x1b\x02\x11T\x06\x04\x1c\x...
...,...,...,...,...,...,...
308,2018-08-20,2018-08-20,NaN,50.22,"b""'711T6\x08\x02\x11\x11\x15P0\x17\x03\x19\x00""","b""1<(P'\\1^5\\A1\x10\x16\x04\x12\x1d\x06\x0eP'..."
309,2018-08-09,2018-08-09,799.95,NaN,b'3\x1b\x13\x1f\x17\x1d\x0f\x04\x1b',b'3\x1b\x13\x1f\x17\x1d\x0f\x04\x1b'
310,2018-08-03,2018-08-03,NaN,1150.00,b'6\x1d\x0f\x19\x12\x1b\x02\x1fT!$ 5R$\x03\x00...,b'6\x17\x0fJT1)971 P$3.<5R(\x1e\x07HA@G]QH[@QA...
311,2018-08-02,2018-08-02,200.00,NaN,b'3\x1b\x13\x1f\x17\x1d\x0f\x04\x1b',b'3\x1b\x13\x1f\x17\x1d\x0f\x04\x1bR\x05\x11\x...
312,2018-07-23,2018-07-21,NaN,16.20,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'\'\'15&?$""735?T! ^ =OP\'\\A"";? PTRAPTRAPT;5P..."
313,2018-07-23,2018-07-21,NaN,170.00,b'$\x00\x04\x1c\x1d\x17\x17\x1fT0\x00\x1e\x17\...,b'$\x00\x04\x1c\x11\x04\x00\x1d\x11\x1c\x15\x1...
314,2018-07-23,2018-07-20,NaN,10.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'$38 5>AZ""=%12=/5=& PTRACAAPDGDX@DCAPT;5P7\x1..."
315,2018-07-23,2018-07-19,NaN,51.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b';!55&; P07&<=R ==1(PTRA"";? PTRAPTRAPT;5P7\x1..."
316,2018-07-22,2018-07-21,NaN,11.00,"b'$\x13\x06\x1f6\x13\x0f\x13\x1b\x1f\x00\x04T"".#'","b""$\x13\x06^T\x16\x04\x1cT@P_DENALR\x0e\x02\x1..."
317,2018-07-21,2018-07-20,NaN,64.00,"b'$\x13\x06\x1f6\x13\x0f\x13\x1b\x1f\x00\x04T"".#'",b'$\x13\x06^T\x16\x04\x1cT@Q_DENALR\x0e\x02\x1...
318,2018-07-10,2018-07-08,NaN,142.53,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b""3=-41<1?=<5PTRAPTRAPTRA6=',97;/?TRAPT;5P7\x1..."
319,2018-07-10,2018-07-08,NaN,47.18,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b""3=-41<1?=<5PTRAPTRAPTRA6=',97;/?TRAPT;5P7\x1..."
320,2018-07-10,2018-07-07,NaN,18.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'=& <$75""T03@GEAPTRAPTRA?\'&4>=RAPTRAPT;5P7\x..."
321,2018-07-09,2018-07-08,NaN,54.88,"b'$\x13\x06\x1f6\x13\x0f\x13\x1b\x1f\x00\x04T"".#'",b'$\x13\x06^T\x16\x04\x1cTBY_DENALR\x0e\x02\x1...
322,2018-07-09,2018-07-05,NaN,42.96,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b""23,983APTRAPTRAPTRAPTRA?'&4>=RAPTRAPT;5P7\x1..."
323,2018-07-09,2018-07-04,NaN,160.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,b'&;2$; > 7A98R1%:&.PTRA65! >;RAPTRAPT;5P7\x1...
324,2018-07-08,2018-07-08,NaN,1000.00,b'3\x1b\x13\x1f\x17\x1d\x0f\x04\x1b',b'3\x1b\x13\x1f\x17\x1d\x0f\x04\x1bR\x12\x05\x...
325,2018-07-05,2018-07-03,NaN,105.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,b'1!25:( P&;2$; > 7APTRA#5<A==1)587A#T;5P7\x1...
326,2018-07-05,2018-07-02,NaN,41.10,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'8R."" =A41>A =3""5&7APTRA#5<A&=&.P07(PT;5P7\x1..."
327,2018-07-05,2018-07-02,NaN,60.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,b'%JA4S3%19=APTRAPTRAPTRA#5<A&=&.P07(PT;5P7\x1...
328,2018-07-05,2018-07-02,NaN,7.39,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'67-<5<.&5R&9!!$ $7A#!""A#5<A&=&.P07(PT;5P7\x1..."
329,2018-07-05,2018-07-01,NaN,51.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,b'7:$3<7-5TRAPTRAPTRAPTRA35 .&=5/?TRAPT;5P7\x1...
330,2018-07-05,2018-06-30,NaN,2.10,b'=\x1f\x11\x1f\x07\x06\x00P\x16\x1d\r\x1c\x1b...,b'5\x16\x05\x15\x16\x1b\x15\x1fT\x1b\x0c\x00\x...
331,2018-07-04,2018-07-02,NaN,16.10,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'233=51(1T6$P"";5?T!/3TRA#5<A&=&.P07(PT;5P7\x1..."
332,2018-07-03,2018-07-02,NaN,25.89,"b'$\x13\x06\x1f6\x13\x0f\x13\x1b\x1f\x00\x04T"".#'",b'$\x13\x06^T\x16\x04\x1cTBS_DENALR\x0e\x02\x1...
333,2018-07-02,2018-07-01,NaN,200.00,b'$\x00\x04\x1c\x1d\x17\x17\x1fT0\x00\x1e\x17\...,b'$\x00\x04\x1c\x11\x04\x00\x1d\x11\x1c\x15\x1...
334,2018-07-02,2018-06-30,NaN,151.78,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'\'\'15&?$""735?T6.;TRAPTRA#5<A&=&.P07(PT;5P7\..."
335,2018-07-02,2018-06-30,NaN,66.00,b'$\x13\x06\x11\x19\x17\x0f\x04\x1bR7\x19\x07\...,"b'&;2$; > 7A&5>-5""7341RA1 ( 5>%1TRAPT;5P7\x1..."
336,2018-06-30,2018-06-30,600.00,NaN,b'3\x1b\x13\x1f\x17\x1d\x0f\x04\x1b',b'3\x1b\x13\x1f\x17\x1d\x0f\x04\x1bR\x05\x11\x...
337,2018-06-30,2018-06-30,3000.00,NaN,b'3\x1b\x13\x1f\x17\x1d\x0f\x04\x1b',b'3\x1b\x13\x1f\x17\x1d\x0f\x04\x1bR\x05\x11\x...

In [87]:
df.to_csv(FileFullNameAnonym)

In [68]:
from sqlalchemy import create_engine

engine = create_engine('mssql+pyodbc://(local)/DB-futurfin?driver=SQL+Server+Native+Client+11.0')

#engine.connect()

df.to_sql(name='tran001', con=engine, if_exists='replace', index = False)

In [32]:
#df2 = df()
#df.columns
def MyFn(x):
   return reversed(x)

a = MyFn('SDFR')
print list(a)

#df['Anonym Descrizione Completa']=df['Descrizione Completa'].apply(MyFn)

#df['Anonym Descrizione Completa']=df['Descrizione Completa'].apply(lambda x: encode(x) )

SyntaxError: invalid syntax (<ipython-input-32-08f9c91ba2d5>, line 7)

b'\x19\x13\x19\t'
4 4 b'\x19\x13\x19\t'
maxy

In [29]:
#df.dtypes
#df.columns
#df.axes
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=(local);'
                      'Database=DB-futurfin;'
                      'Trusted_Connection=yes;')

df.to_sql('tran001', conn, if_exists='replace', index = False)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'sqlite_master'. (208) (SQLExecDirectW); [42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Statement(s) could not be prepared. (8180)")

In [9]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=(local);'
                      'Database=DB-futurfin;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()
cursor.execute('create table t1(c1 int)')
conn.commit()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]There is already an object named 't1' in the database. (2714) (SQLExecDirectW)")

In [12]:
cursor.execute('select * from t1')
for row in cursor:
    print(row)

(1, )
(4, )
(66, )
(77, )